<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{share :: head('editor')}"></div>
<body>
    <div id="wrapper">
        <div th:replace="~{share :: menubar}"></div>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1>WYSIWYG Editor <small>A what-you-see-is-what-you-get rich text editor</small></h1>
                    </div>
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        This theme page uses the WYSIWYG Rich Text Editor widget, 
                        part of the <a href="https://www.shieldui.com" target="_blank">Shield UI</a> JavaScript framework.
                    </div>
                    <textarea id="editor">
                        &lt;div align="center"&gt;&lt;img src="https://demos.shieldui.com/Content/img/window/mars.jpg" height="111" width="111"&gt;&lt;/div&gt;
                        &lt;p&gt;&lt;b&gt;&lt;br&gt;&lt;/b&gt;&lt;/p&gt;
                        &lt;p&gt;&lt;b&gt;Mars&lt;/b&gt; is the fourth planet from the &lt;a title="Sun" href="https://en.wikipedia.org/wiki/Sun"&gt;Sun&lt;/a&gt; and the 
                        second-smallest planet in the &lt;a title="Solar System" href="https://en.wikipedia.org/wiki/Solar_System"&gt;Solar System&lt;/a&gt;, 
                        after &lt;a title="Mercury (planet)" href="https://en.wikipedia.org/wiki/Mercury_(planet)"&gt;Mercury&lt;/a&gt;. Named after the Roman god of war, 
                        it is often referred to as the &lt;i&gt;Red Planet&lt;/i&gt;&lt;sup&gt; &lt;/sup&gt;because the iron oxide prevalent on its surface gives it a reddish appearance.&lt;/p&gt;
                        &lt;p&gt;Mars is a terrestrial planet with a thin atmosphere, having surface features reminiscent both of the impact craters of the 
                        &lt;a title="Moon" href="https://en.wikipedia.org/wiki/Moon"&gt;Moon&lt;/a&gt; and the valleys, deserts, and &lt;span class="mw-redirect"&gt;polar ice caps&lt;/span&gt; 
                        of &lt;a title="Earth" href="https://en.wikipedia.org/wiki/Earth"&gt;Earth&lt;/a&gt;.&lt;/p&gt;
                    </textarea>
                    <br />
                    <button class="btn btn-lg btn-primary">Save Changes</button>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <script type="text/javascript">
        jQuery(function ($) {
            $("#editor").shieldEditor({
                height: 350
            });
        });
    </script>
</body>
</html>
