<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{share :: head('grid')}"></div>
<body>
    <div id="wrapper">
        <div th:replace="~{share :: menubar}"></div>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1>User Enquiry Message <!-- <small>A powerful data-viz widget for tabular data</small> --></h1>
                    </div>
                    <!-- <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        This theme page uses the Grid widget, part of the <a href="https://www.shieldui.com" target="_blank">Shield UI</a> JavaScript library.
                    </div> -->
                    <div id="grid"></div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <script type="text/javascript">
    	var listUrl = "[[@{/enquiry/list}]]";
        jQuery(function ($) {
            $("#grid").shieldGrid({
                dataSource: {
                    remote: {
                        read: listUrl,
                    },
                    schema: {
                        fields: {
                            email: { path: "email", type: String },
                            message: { path: "message", type: String },
                            createTime: { path: "createTime", type: String }
                        }
                    }                 
                },
                sorting:{
                    multiple: true
                },
                paging: {
                    pageSize: 12,
                    pageLinksCount: 10
                },
                selection:{
                    type: "row",
                    multiple: true,
                    toggle: false
                },
                columns: [                
                    { field: "email", title: "Email" },
                    { field: "message", title: "Message" },
                    { field: "createTime", title:"Receive Time" }
                ]
            });
        });
    </script>
</body>
</html>
