<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{share :: head('index')}"></div>
<body>
    <div id="wrapper">
		<div th:replace="~{share :: menubar}"></div>       

        <div id="page-wrapper">
            <div class="row">
                <div class="col-md-8">
                    <!--div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-line-chart"></i> Live Statistics <a class="pull-right glyphicon glyphicon-option-horizontal" href="#" style="text-decoration:none;"></a></h3>
                        </div>
                        <div class="panel-body">
                            <div id="chart_live" style="width:100%; height:250px;"></div>
                        </div>
                    </div-->
                    <div class="panel">
                        <div class="panel-body">
                            <div class="col-md-3 col-sm-3 col-xs-3 text-center">
                                <h4><span class="fa fa-eye"></span> Views</h4>
                                <h3>1450</h3>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 text-center">
                                <h4><span class="fa fa-file-video-o"></span> Pages</h4>
                                <h3>327</h3>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 text-center">
                                <h4><span class="fa fa-users"></span> Users</h4>
                                <h3>119</h3>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 text-center">
                                <h4><span class="fa fa-money"></span> Earnings</h4>
                                <h3>$14.58</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-comments"></i> Messages <a class="pull-right fa fa-gear" href="#" style="text-decoration:none;"></a></h3>
                        </div>
                        <div class="panel-body">
                            <div style="width:100%; height:250px;">
                                <ul class="media-list">
                                    <li class="media">
                                        <!-- <div class="media-left">
                                            <img class="media-object" src="images/user1.jpg" style="width:64px; height:64px; border-radius:50%; border:solid 1px #E1E1E1;" />
                                        </div> -->
                                        <div class="media-body">
                                            <h4 class="media-heading">Jack Sparrow <small class="pull-right" style="color:#b6b6b6; margin-right:10px;"><i class="fa fa-clock-o"></i> 14 min ago</small></h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <!-- <div class="media-left">
                                            <img class="media-object" src="images/user2.jpg" style="width:64px; height:64px; border-radius:50%; border:solid 1px #E1E1E1;" />
                                        </div> -->
                                        <div class="media-body">
                                            <h4 class="media-heading">Captain Cook <small class="pull-right" style="color:#b6b6b6; margin-right:10px;"><i class="fa fa-clock-o"></i> 29 min ago</small></h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>
                                    </li>
                                </ul>
                                <a href="#" class="btn btn-primary pull-right">View All Messages</a>
                            </div>
                        </div>
                    </div>                    
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-calendar"></i> Calendar</h3>
                        </div>
                        <div class="panel-body text-center">
                            <div id="calendar"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <script type="text/javascript">
        jQuery(function ($) {           
            $("#calendar").shieldCalendar();
        });
    </script>
</body>
</html>
