<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:fragment="head (title)">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome/css/font-awesome.min.css}" />

    <link id="themecss" rel="stylesheet" type="text/css" th:href="@{/css/all.min.css}" />

    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/theme.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script th:src="@{/script/html5shiv.min.js}"></script>
		<script th:src="@{/script/respond.min.js}"></script>
	<![endif]--> 	
	
	<script th:src="@{/webjars/jquery/3.3.1-1/jquery.js}"></script>	
	<script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.js}"></script>
	
    <!-- <script type="text/javascript" th:src="@{/script/jquery-1.10.2.min.js}"></script> -->
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script> 

    <script type="text/javascript" th:src="@{/script/shieldui-all.min.js}"></script>

    <script type="text/javascript" th:src="@{/script/theme.js}"></script>
</head>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation" th:fragment="menubar">            
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" th:href="@{/index}" title="PB Dashboard">Admin Dashboard</a>
    </div>
    <!-- https://github.com/thymeleaf/thymeleaf-extras-springsecurity -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li class="active"><a th:href="@{/index}"><i class="glyphicon glyphicon-th"></i> Dashboard</a></li>
           	<li sec:authorize="hasRole('Role_Admin')"><a th:href="@{/user}"><i class="fa fa-user"></i> Admin User</a></li>
            <li class="nav nav-list nav-list-expandable nav-list-expanded">
                <a><i class="fa fa-user"></i> More Widgets <span class="caret"></span></a>
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/grid}"><i class="fa fa-table"></i> Data Grid</a></li>
                    <li><a th:href="@{/editor}"><i class="fa fa-edit"></i> Editor</a></li>
                </ul>
            </li>            
            <li><a th:href="@{/boot}"><i class="fa fa-magic"></i> Bootstrap Elements</a></li>
            <li class="nav nav-list nav-list-expandable">
                <a><i class="fa fa-key"></i> Collapsed Menu Item <span class="caret"></span></a>
                <ul class="nav navbar-nav">
                    <li><a href="#">Sub Item 1</a></li>
                    <li><a href="#">Sub Item 2</a></li>
                </ul>
            <li>
        </ul>
        <ul class="nav navbar-nav navbar-right navbar-user">
            <li class="dropdown messages-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Messages <span class="label label-danger">2</span> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">2 New Messages</li>
                    <li class="message-preview">
                        <a href="#">
                            <span class="avatar"><i class="fa fa-bell"></i></span>
                            <span class="message">Security alert</span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li class="message-preview">
                        <a href="#">
                            <span class="avatar"><i class="fa fa-bell"></i></span>
                            <span class="message">Security alert</span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">Go to Inbox <span class="badge">2</span></a></li>
                </ul>
            </li>
            <li class="dropdown user-dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <span sec:authentication="name"></span><b class="caret"></b></a>
               <ul class="dropdown-menu">
                   <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                   <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
                   <li class="divider"></li>
                   <li><a th:href="@{/logout}"><i class="fa fa-power-off"></i> Log Out</a></li>
               </ul>
           </li>
        </ul>
    </div>
</nav>
</html>