.clear-after:after { display: block; content:''; position: relative; clear: both; }
.marauto { margin-left: auto; margin-right: auto; }
.font-b { font-weight: bold; } 
.img-scale { width: 100%; height: auto; }

.wrp { width: 500px; }

.columns { width: calc(100% + 20px); }
.columns .col{ display: block; float: left; width:calc(50% - 20px - 24px - 4px); margin-right: 20px; padding: 12px; border: 2px solid #d7d7d7; margin-top: 20px; }
.col .work-title { font-size: 22px;  margin-bottom: 18px;} 
.col .item { font-size: 13px; line-height: 1.3; z-index: 2; margin-top: 10px; }

.btns { float: right; margin-top: 20px; }

.pay-items { font-size: 18px; }
.pay-items .p-title { margin-bottom: 5px; }

.pay-item, .total { padding: 12px 0; }
.pay-item.notop { padding-top: 0; }
.pay-item { border-bottom: 1px solid #000; line-height: 1.2; }
.pay-item:not(.nofixh) { height: 2.4em; }

.pay-item .img-item { width: 100%; margin: 15px 0; }
.pay-item.num { padding-bottom: 40px; }

.col2-lr  { padding-right: 10px; }
.col2-lr .col { float: left; }
.col2-lr .col:first-child{ width: 70%; }
.col2-lr .col:nth-child(2){ width: 30%; text-align: right; }