	
	/* Individual customization ================================ */
	.register .sel-entrant-type { border-bottom:1px solid #fd7f2b}
	.register .sel-entrant-type>.custom-select { width:100%;}
	.gray .select-items div, .gray .select-selected { color:#666; padding:8px 16px;}
	.gray .select-selected { padding:0; }
	.gray { margin-bottom:20px}

	.intro .sel-entrant-type { border-bottom:1px solid #fd7f2b}
	.intro .sub-cat			 { margin-top:20px}
	/* ========================================== */



	/*the container must be positioned relative:*/
  	.custom-select 			{ position:relative; font-size:30px; font-weight:200; }
	.custom-select select 	{ display:none; /*hide original SELECT element:*/}
	.select-selected 		{ background-color:#000;}

  	.custom-select.small 			{ font-size:25px; font-weight:400; }
	.custom-select.small .select-selected:after,
	.custom-select.small .select-selected.select-arrow-active:after 	{ top:25px;}

	/*style the arrow inside the select element:*/
	.select-selected:after 	{ 	position:absolute; content: ""; top:40px; right:10px; width:0; height:0;
	  							border: 6px solid transparent;
	  					  		border-color: #fff transparent transparent transparent; }
	.select-selected.select-arrow-active:after {
  						 	 	border-color: transparent transparent #fff transparent; top:40px; }

	#country .select-selected:after { top:20px;} 
	#country .select-selected.select-arrow-active:after { top:30px;} 

	
	/*style the items (options), including the selected item:*/
	.select-items div,.select-selected { color:#fd7f2b; padding:8px 16px;
	 							 border: 1px solid transparent;
	  					   border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	  						     cursor: pointer;
	  					    user-select: none; }
	
	.select-selected { padding:8px 0;}

	/*style items (options):*/
	.select-items 	{ position:absolute; background-color:#333; top:100%; left:0; right:0; z-index:99; overflow-y: scroll; max-height: 300px;}
	
	/*hide the items when the select box is closed:*/
	.select-hide 	{ display: none;}
	.select-items div:hover, .same-as-selected { background-color: rgba(0, 0, 0, 0.1);}


	/* ==========================================================================
    	Media
    ============================================================================= */
    @media only screen and (max-width:1100px) {
  	.custom-select 			{ font-size:26px;}

	.select-selected:after,
	.select-selected.select-arrow-active:after 	{ top:30px;}
	#country .select-selected:after,
	#country .select-selected.select-arrow-active:after { top:10px;} 
    }

    @media only screen and (max-width:767px) {
  	.custom-select 			{ font-size:20px; font-weight:400;}
	.register .sel-entrant-type>.custom-select { width:100%;}

	.select-selected:after,
	.select-selected.select-arrow-active:after 	{ top:20px;}
	#country .select-selected:after,
	#country .select-selected.select-arrow-active:after { top:10px;} 
   
    .custom-select.small 			{ font-size:20px; font-weight:400; }
	.custom-select.small .select-selected:after,
	.custom-select.small .select-selected.select-arrow-active:after 	{ top:25px;}

    }