<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{head :: head('Admin Login')}"></div>
    
<link rel="stylesheet" type="text/css" th:href="@{/css/input-admin.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}"/>
<body id="body" class="en admin">
	<header>
		<div class="full-pg clearfix">
			<div class="h-col1"><img th:src="@{/images/logo.svg}" alt="HKDA"/></div>
			<div class="h-col2">
				<h3>Admin Login</h3>
			</div>
		</div>
	</header>

	<form id="loginForm" th:action="@{/doLogin}" method="post">
		<div class="full-pg pg-edge-tb">
			<section class="text-effect pos">
		        <span class="input input--ruri">
		            <input class="input__field input__field--ruri" type="text" id="login_email" name="login_email" />
		            <label class="input__label input__label--ruri" for="login_email">
		                <span class="input__label-content input__label-content--ruri">Username</span>
		            </label>
		        </span>
		        <span class="input input--ruri" style="margin-right:0">
		            <input class="input__field input__field--ruri" type="password" id="login_password" name="login_password" />
		            <label class="input__label input__label--ruri" for="login_password">
		                <span class="input__label-content input__label-content--ruri">Password</span>
		            </label>
		        </span>
		    </section>
		    <div class="error" style="display:block;" th:text="${session.adminLoginFailMsg}"></div>
	    	<div class="ac-pos"><a href="javascript:$('#loginForm').submit();" class="ac-btn-admin">Login <i class="fa fa-chevron-right"></i></a></div>    	
		</div>
	</form>


	<script th:src="@{/script/classie.js}"></script>
	<script th:src="@{/script/custom-select.js}"></script>

</body>
</html>
