<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{head :: head(#{edituser.browser_title})}"></div>

<body id="body" class="en">
	<div th:replace="~{loading :: loading}"></div>
	<div th:replace="~{header :: header}"></div>

	<div class="full-pg pg-edge-tb">		
		<form id="registerForm" autocomplete="off">
			<input type="hidden" name="id" th:value="${user.id}">
			<div class="register pg-edge-tb">
				<div>					
					<i onclick="javascript:history.back(-1)" class="fa fa-angle-left" style="font-size: 60px;text-align: center;color: #fff;line-height: normal;width: 60px;height: 60px;background-color: #333;-webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px;transition: all 0.3s ease-out;letter-spacing: 5px;cursor: pointer;"></i>
					<div class="sel-entrant-type">
						<div class="custom-select">
						  <select id="entryType" name="type">
						    <option value="" th:text="#{login.register.entrant_type}"></option>
						    <option th:selected="${entrantType.first == user.type.code}" th:each="entrantType : ${entrantTypes}" th:value="${entrantType.first}" th:text="${entrantType.second}"></option>
						  </select>
						</div>
					</div>
					<section class="full-w text-effect pos">
						<div class="error typeError" th:text="#{login.register.entrant_type_error}"></div>
					</section>
	
					<section class="full-w text-effect pos">
						<h4 th:text="#{login.register.entrant_name_title}"></h4>
			            <span class="input input--ruri">
			                <input th:readonly="${user.paid or @hkdaProperties.closeForm}" class="input__field input__field--ruri" type="text" id="entrantName" name="entrantName" th:value="${user.entrantName}" />
			                <label class="input__label input__label--ruri" for="entrantName">
			                    <span class="input__label-content input__label-content--ruri" th:text="#{login.register.entrant_name_placeholder}"></span>
			               </label>
			            </span>
			            <div class="error entrantNameError" th:text="#{login.register.entrant_name_error}"></div>
			            
			            <h4 th:text="#{login.register.name_title}"></h4>
			            <span class="input input--ruri" style="margin-right:0">
			                <input th:readonly="${user.paid or @hkdaProperties.closeForm}" class="input__field input__field--ruri" type="text" id="name" name="name"  th:value="${user.name}"/>
			                <label class="input__label input__label--ruri" for="name">
			                    <span class="input__label-content input__label-content--ruri" th:text="#{login.register.name_placeholder}"></span>
			               </label>
			            </span>
			           	<div class="error nameError" th:text="#{login.register.name_error}"></div>
	
			            <span class="input input--ruri" style="margin-right:0">
			                <input th:readonly="${user.paid or @hkdaProperties.closeForm}" class="input__field input__field--ruri" type="text" readonly="readonly" th:value="${user.email}" />
			                <label class="input__label input__label--ruri" for="email">
			                    <span class="input__label-content input__label-content--ruri" th:text="#{login.register.email_placeholder}"></span>
			               </label>
			            </span>
	
			            <span class="input input--ruri" style="margin-right:0">
			                <input th:readonly="${user.paid or @hkdaProperties.closeForm}" class="input__field input__field--ruri" type="text" id="phone" name="phone" th:value="${user.phone}" />
			                <label class="input__label input__label--ruri" for="phone">
			                    <span class="input__label-content input__label-content--ruri" th:text="#{login.register.phone_placeholder}"></span>
			               </label>
			            </span>
			            <div class="error phoneError" th:text="#{login.register.phone_error}"></div>
			            
			            <span class="input input--ruri" style="margin-right:0">
			                <input th:readonly="${user.paid or @hkdaProperties.closeForm}" class="input__field input__field--ruri" type="text" id="address" name="address" th:value="${user.address}" />
			                <label class="input__label input__label--ruri" for="address">
			                    <span class="input__label-content input__label-content--ruri" th:text="#{login.register.address_placeholder}">Address</span>
			               </label>
			            </span>
			            <div class="error addressError" th:text="#{login.register.address_error}"></div>
			            		            
			            <span class="input input--ruri" style="margin-right:0">
			                <input th:readonly="${user.paid or @hkdaProperties.closeForm}" class="input__field input__field--ruri" type="text" id="city" name="city" th:value="${user.city}" />
			                <label class="input__label input__label--ruri" for="city">
			                    <span class="input__label-content input__label-content--ruri" th:text="#{login.register.city_placeholder}"></span>
			               </label>
			            </span>
			            <div class="error cityError" th:text="#{login.register.city_error}"></div>
			            
						<div class="sel-entrant-type gray">
							<div id="country" class="custom-select country">
							  <select id="country" name="country">
							    <option value="" th:text="#{login.register.country}"></option>
					            <option th:selected="${country.first == user.country}" th:each="country : ${countries}" th:value="${country.first}" th:text="${country.second}"></option>
							  </select>
							</div>
						</div>
						<div class="error countryError" th:text="#{login.register.country_error}"></div>
						
			            <span class="input input--ruri" style="margin-right:0">
			                <input th:readonly="${user.paid or @hkdaProperties.closeForm}" class="input__field input__field--ruri" type="text" id="postalCode" name="postalCode" th:value="${user.postalCode}" />
			                <label class="input__label input__label--ruri" for="postalCode">
			                    <span class="input__label-content input__label-content--ruri" th:text="#{login.register.postal_code_placeholder}"></span>
			               </label>
			            </span>
			            	   		            
			        </section>				        
			        <div th:if="${not user.paid and not @hkdaProperties.closeForm}" class="txt-r"><a href="javascript:register();" class="ac-btn" th:inline="text">[[#{edituser.updateBtn}]]<i class="fa fa-chevron-right"></i></a></div>
				</div>
	
			</div>
		</form>
	</div>
	<script th:src="@{/script/classie.js}"></script>
	<script th:src="@{/script/custom-select.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		var updateUserUrl = [[@{/updateUser}]]		
		var updateSuccessMsg = [[#{edituser.update_success}]]
		var isPaid = [[${user.paid}]]
		var isCloseForm = [[${@hkdaProperties.closeForm}]]
		/*<![CDATA[ */
			function register() {
				showLoading();
	            $.post(updateUserUrl, $("#registerForm").serialize(), function (data) {
	            	hideLoading();
	            	$("div[class*=Error]").hide();
               		for(var i = 0; i < data.length; i++) {
               			$("div." + data[i] + "Error").show();
               		}
               		if(data.length == 0) {
               			$("<div>" + updateSuccessMsg + "</div>").dialog(
           					{
           					  	close: function( event, ui ) {location.reload();}
           					}		               			               			
               			);               			
               		}
	               	
	            }, "json");		
			}
			$(function() {
				if(isPaid || isCloseForm) {
					$(".select-items").remove();					
				}
			})
	 	/* ]]> */
	</script>
</body>
</html>
