<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">	
	<div class="full-pg clearfix">
		<div class="h-col1"><img th:src="@{/images/logo.svg}" alt="HKDA"/></div>
		<div class="h-col2">
			<div class="h-col2-pos">
				<div th:hidden="${@hkdaProperties.closeForm}" class="deadline" th:utext="#{Deadline}"></div>
				<div th:hidden="${not @hkdaProperties.closeForm}" class="deadline" th:utext="#{CloseForm}"></div>
				<ul>							
					<li><a href="javascript:changeLanguage('en_US')">EN</a></li>
					<li><a style="font-family: 'Noto Sans TC', sans-serif;" href="javascript:changeLanguage('zh_TW')">中</a></li>
					<li><a th:href="@{/logout}" th:text="${user} == null ? #{login.header.login} : #{logout}"></a></li>
					<li th:if="${user != null}"><a th:href="@{/editUser}">[[${user.name}]]</a></li>
				</ul>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:inline="javascript">
		var changeLanguageUrl = [[@{/changeLanguage/}]]		
		/*<![CDATA[ */
			function changeLanguage(locale) {
	            $.get(changeLanguageUrl + locale, function (data) {	            	
	               	location.reload();
	            }, "json");		
			}
	 	/* ]]> */
	</script>
	
	<th:block th:if="${@hkdaProperties.enableFacebookPixelCode}">
		<script>
		  !function(f,b,e,v,n,t,s)
		  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
		  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
		  n.queue=[];t=b.createElement(e);t.async=!0;
		  t.src=v;s=b.getElementsByTagName(e)[0];
		  s.parentNode.insertBefore(t,s)}(window, document,'script',
		  'https://connect.facebook.net/en_US/fbevents.js');
		  fbq('init', '[[${@hkdaProperties.facebookPixelCode}]]');
		  fbq('track', 'PageView');
		</script>
		<noscript>
			<img height="1" width="1" style="display:none" th:src="@{https://www.facebook.com/tr(id=${@hkdaProperties.facebookPixelCode},ev=PageView,noscript=1)}" ></img>
		</noscript>
	</th:block>
	
	<th:block th:if="${@hkdaProperties.enableGoogleTag}">		
		<script async th:src="@{https://www.googletagmanager.com/gtag/js(id=${@hkdaProperties.googleTagCode})}"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', '[[${@hkdaProperties.googleTagCode}]]');
		</script>
	</th:block>
	
</header>
</html>