<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (title)">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${title}"></title>

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" />
    <meta name="format-detection" content="telephone=no" />

    <!-- ICO -->
    <link rel="shortcut icon" th:href="@{/images/favicon.png}"/>
    <link rel="apple-touch-icon" th:href="@{/images/apple-touch-icon.png}"/>
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/images/apple-touch-icon-72x72.png}"/>
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/images/apple-touch-icon-114x114.png}"/>

    <!-- font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/earlyaccess/notosanstc.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/earlyaccess/notosanssc.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/font-awesome/css/font-awesome.min.css}"/>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/input.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/select-box.css}"/>
    
	<script th:src="@{/webjars/jquery/3.3.1-1/jquery.js}"></script>	
	<script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.js}"></script>
	<script th:src="@{/script/jquery.form.js}"></script>   	

</head>
</html>