<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{head :: head(#{submitsummary.browser_title})}"></div>
<link rel="stylesheet" type="text/css" th:href="@{/css/column.css}" />
<body>
	<div class='wrp marauto pay-items' style="margin-top:50px;">
		<div class='font-b p-title' th:text="${user.paymentTitle}"></div>
		<!--- img item ---->
		<div th:hidden="${user.paymentType != 'paymentslip'}" class='pay-item nofixh notop'>
			<div th:text="#{submitsummary.wire_transfer}"></div>
			<div class='img-item'>
				<img class='img-scale' th:src='@{/docs/}+${user.paymentSlip}' />
			</div>
		</div>
		
		<!--- two number item ---->
		<div th:hidden="${user.paymentType != 'cheque'}" class='pay-item nofixh num notop'>
			<div>[[#{submitsummary.cheque_number}]] [[${user.chequeNumber}]]</div>
			<div>[[#{submitsummary.cheque_company_name}]] [[${user.chequeAccountName}]]</div>
		</div>
		
		<!--- one number item ---->
		<div th:hidden="${user.paymentType != 'paypal'}" class='pay-item nofixh num notop'>
			<div>[[#{submitsummary.paypal}]] [[${user.paypalRefNumber}]]</div>
		</div>
		<!--- payment item ---->		
		<div class='pay-item col2-lr clear-after' th:each="entry : ${entries}">
			<div class='col' th:text="${entry.entryNo + ' / ' + categoriesMap.get(entry.mainDesignCategory) + ' / ' + entry.title}"></div>
			<div class='col' th:text="${moneySymbol} + ' ' + (${entry.single} ? ${user.singleEntryFee} : ${user.seriesEntryFee})"></div>
		</div>
		<div class='total col2-lr clear-after'>
			<div class='col'>
				[[#{submitsummary.total}]]
			</div>
			<div class='col'>
				[[${moneySymbol}]] [[${total}]]
			</div>
		</div>		
	</div>
</body>
</html>