<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{head :: head(#{print.browser_title})}"></div>
<link rel="stylesheet" type="text/css" th:href="@{/css/column.css}" />
<body>
	<div class='wrp marauto'>
<!-- 		<div>
			select title: 
			<select>
				<option value='1'>1</option>
				<option value='2'>2</option>
				<option value='3'>3</option>
				<option value='4'>4</option>
				<option value='5'>5</option>
			</select>
		</div> -->
		
		<div class='columns clear-after'>
		<th:block th:each="entry : ${entries}">
			<th:block th:each="referenecNo : ${entry.referenecNoList}">
				<div class='col'>
					<div class='work-title' th:text="${entry.title}"></div>
					<div class='item'>
						<div>
							<span class='item-title font-b' th:text="#{print.category}"></span>
							<span class='item-content'  th:text="${categoriesMap.get(entry.mainDesignCategory)}"></span>
						</div>
					</div>
					<div class='item'>
						<div>
							<span class='item-title font-b' th:text="#{print.entry_no}"></span>
							<span class='item-content' th:text="${referenecNo}"></span>
						</div>
					</div>
					<div class='item'>
						<span class='item-title font-b' th:text="#{print.description}"></span>
						<span class='item-content' style="word-wrap:break-word" th:text="${entry.description}"></span>
					</div>
				</div>
			</th:block>
		</th:block>
		</div>
<!-- 		<div class='btns'>
			<button>button1</button>
			<button>button2</button>
		</div> -->
	</div>
</body>
</html>