<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>HKDA-reference</title>

<style>
	ul li { padding-bottom:20px}
</style>
</head>

<body>
	<ul>
		<li><a href="form-login.html" target="_blank">form-login.html</a></li>
		<li><a href="introduction.html" target="_blank">introduction.html</a></li>
		<li><a href="submit.html" target="_blank">submit.html</a></li>
		<li><a href="proceed.html" target="_blank">proceed.html</a></li>
		<li><a href="submit-completed.html" target="_blank">submit-completed.html</a></li>
		<li><a href="admain-login.html" target="_blank">admain-login.html</a></li>
		<li><a href="admain.html" target="_blank">admain.html</a></li>

	</ul>
</body>
</html>
