<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{head :: head(#{submit.browser_title})}"></div>
<script type="text/javascript" th:inline="javascript">			
	var submitUrl = [[@{/introduction}]]	
	var packageLabelUrl = [[@{/docs/} + (${user.type.code == 'MAINLAND_CHINA'} ? 'PACKAGE LABEL FOR MAINLAND CHING ENTRANTS.pdf' : 'PACKAGE LABEL FOR HONG KONG AND OVERSEAS ENTRANTS.pdf')]]
	//var guidelineDocUrl = [[@{/docs/} + ${#session.getAttribute('submissionGuideline')}]]
	var guidelineDocUrl = [[@{/docs/} + 'Submission Guidelines PDF (' + ${#locale.country == 'US' ? 'Eng' : (#locale.country == 'CN' ? 'SC' : 'TC')} + ').pdf']]
</script>
<th:block th:if="${#lists.isEmpty(entries) and not @hkdaProperties.closeForm}">
	<script type="text/javascript">		
		location.href = submitUrl;
	</script>
</th:block>
<th:block th:if="${@hkdaProperties.closeForm}">
    <style>               
            .pg-edge-tb {padding-top: 0px!important;}
    </style>
</th:block>
<body id="body" class="en submit">
	<div th:replace="~{header :: header}"></div>

	<div class="full-pg pg-edge-tb">
		<div class="title-col clearfix">
			<h2 class="ti-col1" th:text="${not @hkdaProperties.closeForm} ? #{submit.title}"></h2>
			<div class="ti-col2" th:utext="${not @hkdaProperties.closeForm} ? ${entryCountInfo}"></div>
		</div>
		<h3 th:hidden="${@hkdaProperties.closeForm}" th:utext="${user.paid} ? #{submit.description_for_paid} : #{submit.description}"></h3>
		
		<h3 th:if="${@hkdaProperties.closeForm}" th:utext="${#lists.isEmpty(entries)} ? #{submit.description_for_unselected} : #{submit.description_for_selected}"></h3>

		<div class="pg-edge-tb">
			<section class="su-section1">
				<div th:if="${not user.paid and not @hkdaProperties.closeForm}" class="btn-item i-gray" onclick="location.href=submitUrl;">
					<div class="col2-Table item2col">
						<div class="col2-TableBody">
							<div class="col2-TableRow">
								<div class="col2-TableCell"><div class="icon-btn"><i class="fa fa-plus"></i></div></div>
								<div class="col2-TableCell font-m" th:text="#{submit.add_more_entry}"></div>
							</div>
						</div>
					</div>		
				</div>
							
				<div th:if="${not @hkdaProperties.closeForm}" class="btn-item i-gray" th:onclick="'javascript:window.open(\''+@{/printLabel/}+${user.id} + '\');'" >
					<div class="col2-Table item2col">
						<div class="col2-TableBody">
							<div class="col2-TableRow">
								<div class="col2-TableCell"><div class="icon-btn"><i class="fa fa-print"></i></div></div>
								<div class="col2-TableCell font-m" th:text="#{submit.print_entry}"></div>
							</div>
						</div>
					</div>		
				</div>
				
				<div th:if="${user.paid and not @hkdaProperties.closeForm}" class="btn-item i-gray" th:onclick="'javascript:window.open(\''+@{/paymentSummary/}+${user.id} + '\');'">
					<div class="col2-Table item2col">
						<div class="col2-TableBody">
							<div class="col2-TableRow">
								<div class="col2-TableCell"><div class="icon-btn"><i class="fa fa-print"></i></div></div>
								<div class="col2-TableCell font-m" th:text="#{submitcomplete.print_payment}"></div>
							</div>
						</div>
					</div>		
				</div>
				
				<div th:if="${not @hkdaProperties.closeForm}" class="btn-item i-gray" onclick="window.open(packageLabelUrl);">
					<div class="col2-Table item2col">
						<div class="col2-TableBody">
							<div class="col2-TableRow">
								<div class="col2-TableCell"><div class="icon-btn"><i class="fa fa-download"></i></div></div>
								<div class="col2-TableCell font-m" th:text="#{submitcomplete.download_package_label}"></div>
							</div>
						</div>
					</div>		
				</div>
				<div th:if="${not @hkdaProperties.closeForm}" class="btn-item i-gray" onclick="window.open(guidelineDocUrl);">
					<div class="col2-Table item2col">
						<div class="col2-TableBody">
							<div class="col2-TableRow">
								<div class="col2-TableCell"><div class="icon-btn"><i class="fa fa-download"></i></div></div>
								<div class="col2-TableCell font-m" th:text="#{submitcomplete.download_guideline}"></div>
							</div>
						</div>
					</div>		
				</div>						
								
			</section>

			<section class="su-section2">
				<div class="btn-item i-orange" th:each="entry : ${entries}">
					<div class="col3-Table item3col">
						<div class="col3-TableBody">
							<div class="col3-TableRow">
								<div class="col3-TableCell" th:onclick="'javascript:location.href=\''+@{/delete/}+${entry.id} + '\';'"><div th:if="${not user.paid && not @hkdaProperties.closeForm} " class="icon-btn"><i class="fa fa-times"></i></div></div>
								<div class="col3-TableCell font-m" th:text="${entry.title}" th:onclick="'javascript:location.href=\''+@{/introduction/}+${entry.id} + '\';'"></div>
								<div class="col3-TableCell font-m"><p th:if="${not @hkdaProperties.closeForm}" class="price" th:text="${moneySymbol} + ' ' + (${entry.single} ? ${user.singleEntryFee} : ${user.seriesEntryFee})"></p></div><!-- for large device!-->
							</div>
						</div>
					</div>	
					<div class="price-m font-m" th:text="${moneySymbol} + ' ' + (${entry.single} ? ${user.singleEntryFee} : ${user.seriesEntryFee})"></div><!-- for small device!-->
				</div>				
				<div class="total-blk font-m clearfix" th:if="${not #lists.isEmpty(entries) and not @hkdaProperties.closeForm}">
					<div class="to-col1 total-d" th:text="#{submit.total}"></div>
					<div class="to-col2 total-d"><div>[[${moneySymbol} + ' ' + ${total}]]</div></div>
					<div class="total-m"><span th:text="#{submit.total}"></span> [[${moneySymbol} + ' ' + ${total}]]</div>
				</div>
			</section>
		    <div th:if="${not user.paid && not #lists.isEmpty(entries) and not @hkdaProperties.closeForm}" class="txt-r"><a th:href="@{/proceed}" class="ac-btn-graytxt">[[#{submit.proceed_payment}]]<i class="fa fa-chevron-right"></i></a></div>
		</div>
	</div>
</body>
</html>
